<div class="title-container">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<button (click)="createNewTodoList()" [disabled]="todoLists.length>=5">Add New Todo list</button>
<p *ngIf="todoLists.length>=5">Delete a todo list. Cannot have more than 5 in progress todo list.</p>
<section class="todo-app">
  <section *ngIf="todoLists">
    <div class="todo-list-container" *ngFor="let todoList of todoLists">
      <app-todo-list [todoList]="todoList"></app-todo-list>
      <div>
        <button class="delete-bttn" (click)="deleteList(todoList)">Delete list</button>
      </div>
    </div>
  </section>
</section>

