.title-container {
  text-align: center;
  color: green;
}

.todo-app {
  background-color: lightgreen;
  margin: 10px;
  height: 500px;
}

.todo-list-container {
  display: inline-block;
  vertical-align: top;
}
